################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/LiteLoader.NET.InteropServices
/src/LiteLoader.NET.InteropServices/bin
/src/LiteLoader.NET.InteropServices/obj
/src/LiteLoader.NET.InteropServices.Native/x64
/src/LiteLoader.NET.InteropServices.Native/obj
/x64
